
{%extends 'base.html'%}
{% load static %}
{%block content%}


{%include 'navbar.html'%}

<div class='container'>
  <div class='crappy'>
    <h1 class='crappy-border'><h1>
    <h1 class='crappy-border'><h1>
    <h1 class='crappy-border'><h1>

  </div>

  <div>
    <h1 class='rafikih'>Get your chores done by a rafiki</h1>
    <p class='phome'>New to Kenya,not sure who to hire for house duties.Don’t stress out. Hire the services you need.We got you covered!</p>
    <button class="btn btn-outline bhire" ><a href="{% url 'login_view' %}">Hire Now</a></button>
    
  </div>

  <div class='vector'></div>
  <div class='vector2'></div>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class='container'>
    <div class='crappy'>
      <h1 class='crappy-border'><h1>
      <h1 class='crappy-border'><h1>
      <h1 class='crappy-border'><h1>
  
    </div>
  
    <div>
      <h1 class='phome2'>Looking For a Job and 
        good in jobs like gardening,
        laundry .</h1>
      <p class='phome'>New to Kenya,not sure who to hire for house duties.Don’t stress out. Hire the services you need.We got you covered!</p>
      <button class="btn btn-outline breg" ><a href="{% url 'register' %}">post your skills now</a></button>
      
    </div>
  
   <div class="rectangle"></div> 
  
  
      
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <h class='tit'>How it Works</h>
        <p class='phow'>Bukan sekedar bisnis yang hits dengan segudang untung. Tren beautypreneur di Indonesia sudah mulai terlihat sejak beberapa tahun terakhir, industri kecantikan dalam negeri maulai berkembang pesat.</p>
      </div>
    </div>
    <div class="col">
      <div class='circle1'></div>
      <div class='circle2'></div>
      <div class="card text-white  mb-3 mt-3 box1" style="max-width: 20rem;">
      
        <div class="card-body">
          <h5 class="card-title boxt">27%</h5>
          <p class="card-text boxt2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white  mb-3 mt-3 box1" style="max-width: 20rem;">
      
        <div class="card-body">
          <h5 class="card-title boxt">27%</h5>
          <p class="card-text boxt2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  
  <div class="row ">
    <div class="col mb-5">
      <div class="card boxes" style="width: 14rem; ">
        <div class="card-body">
          
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card boxes" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<br>
<section>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="cardd1">
          <h2 class="cardd1-title">Lion</h2>
          <img src="https://images.unsplash.com/photo-1534188753412-3e26d0d618d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
          <p class="card-desc">The lion (Panthera leo) is a species in the family Felidae and a member of the genus Panthera. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions have a prominent mane.</p>
        </div>
      </div>
      <div class="col">
        <div class="cardd1">
          <h2 class="cardd1-title">Lion</h2>
          <img src="https://images.unsplash.com/photo-1534188753412-3e26d0d618d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
          <p class="card-desc">The lion (Panthera leo) is a species in the family Felidae and a member of the genus Panthera. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions have a prominent mane.</p>
        </div>
      </div>
      <div class="col">
        <div class="cardd1">
          <h2 class="cardd1-title">Lion</h2>
          <img src="https://images.unsplash.com/photo-1534188753412-3e26d0d618d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
          <p class="card-desc">The lion (Panthera leo) is a species in the family Felidae and a member of the genus Panthera. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions have a prominent mane.</p>
        </div>
      </div>
      <div class="col">
        <div class="cardd1">
          <h2 class="cardd1-title">Lion</h2>
          <img src="https://images.unsplash.com/photo-1534188753412-3e26d0d618d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
          <p class="card-desc">The lion (Panthera leo) is a species in the family Felidae and a member of the genus Panthera. It has a muscular, deep-chested body, short, rounded head, round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions have a prominent mane.</p>
        </div>
      </div>
    </div>
</section>


<div class="container">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      <div class="row align-items-start">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
    </div>
    
  </div>

    


{%endblock content%}
    