{%extends 'base.html'%}
{% load static %}
{%block content%}
<div class='container '>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mt-5 raf" style="color:#AEEDF5;" href="#">Rafiki</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-5 mt-5 mb-lg-0 ml-5">
            <li class="nav-item">
                <a class="nav-link "style="color:#AEEDF5;" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"style="color:#AEEDF5;" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"style="color:#AEEDF5;" href="#">services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"style="color:#AEEDF5;" href="#">Contact</a>
            </li>
            
            </ul>
            
            
            <button class="btn btn-outline bhome" type="submit">Login</button>
            
        </div>
        </div>
    </nav>
  
</div>
{%endblock content%}